@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import url("https://unpkg.com/tailwindcss@1.5.2/dist/base.css");

/*
 ## Colors 
 */

//  ### Primary
$desaturated-red:hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

//  ### Neutral 
$dark-grayish-red: hsl(0, 6%, 24%);

//  ### Gradients 
$linear-1:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$linear-2:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

.debug * {
  outline: 1px solid red;
}

// ::placeholder {
//   color: $desaturated-red;
// }



body {
  font-family: "Josefin Sans",
    sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $desaturated-red;
  background: $linear-1;
  background-image: url(/images/bg-pattern-desktop.svg);

  // padding: 50px 73px;
}

.container {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 100px 1fr;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: "logo photo"
    "content photo";

  .logo {
    grid-area: logo;
    width: 80%;
    max-width: 450px;
    margin: 65px auto 0 auto;
    // margin: 65px 0 0 167px;
  }

  .content {
    grid-area: content;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    // padding: 0 0 0 167px;



    h1 {
      margin-top: 80px;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 4.3rem;
      font-weight: 300;
      letter-spacing: 1rem;

      strong {
        color: $dark-grayish-red;
        font-weight: 600;
        display: block;
      }
    }

    p {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .form {
      position: relative;

      // &.error {
      //   .email-box {
      //     border: 2px solid $soft-red;
      //   }

      //   .icon-error {
      //     display: inline;
      //   }

      //   .error-msg {
      //     display: block;
      //   }

      // }




      label {


        .email-input {
          height: 56px;
          width: 100%;
          padding: 16px 150px 16px 32px;
          background-color: transparent;
          color: $dark-grayish-red;
          border: 1px solid $desaturated-red;
          border-radius: 50px;
          margin-bottom: 16px;

          &::placeholder {
            color: $desaturated-red;
          }

          &:invalid {
            border: 2px solid $soft-red;
          }

          &:focus:invalid {
            border: 1px solid $desaturated-red;
          }

          &:invalid+.icon-error {
            display: inline;
          }

          &:focus:invalid+.icon-error {
            display: none;
          }

          &:valid+.icon-error {
            display: none;
          }



        }

        .icon-error {
          display: none;
          position: absolute;
          right: 120px;
          top: 15px;
        }

        .error-msg {
          position: relative;
          color: $soft-red;
          font-size: small;
          margin-left: 30px;
        }
      }

      .submit-btn {
        position: absolute;
        right: 0;
        top: 0;
        background: $linear-2;
        width: 100px;
        height: 56px;

        border-radius: 30px;
        box-shadow: 0 15px 15px hsla(5, 50%, 70%, 0.3);
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: hsla(359, 87%, 91%, 1);
          box-shadow: 0 20px 15px hsla(5, 50%, 70%, 0.5);
          scale: 1.05;
        }

        img {
          margin: 0 auto;
        }
      }



    }
  }

  .photo {
    grid-area: photo;

    background-image: url(/images/hero-desktop.jpg);
    background-size: cover;
    background-position: top center;

  }
}



@media (min-width: 1440px) {
  h1 {
    margin-top: 138px;
  }

  p {
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  body {
    background: $linear-1;
    background-image: none;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 250px 1fr;
    grid-template-areas: "logo"
      "photo"
      "content";

    .logo {
      margin: 30px auto 30px 30px;
    }

    .photo {
      background: url(/images/hero-mobile.jpg);
    }

    .content {
      padding: 0;
      margin: 0 30px;

      h1 {
        margin-top: 66px;
        font-size: 2.5rem;
        line-height: 2.6rem;
        letter-spacing: 0.4rem;
        text-align: center;
      }

      p {
        margin-top: 20px;
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 30px;
      }

      .form {
        margin-bottom: 20px;

        label {

          .email-input {
            height: 50px;
            padding: 14px 100px 14px 23px;
            font-size: 0.9rem;
          }

          .icon-error {
            right: 70px;
          }

          .error-msg {
            margin: 0 auto;
            text-align: center;
            display: block;
          }

        }

        .submit-btn {
          right: 0;
          top: 0;
          background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
          width: 65px;
          height: 50px;

        }
      }
    }

  }
}